<body>

    <div class="dashboard-title">
        <h4>Filtros para tabela</h4>
    </div>

    <div class="dashboard-filters">

        <div class="dashboard-filters__filter issue">
            <div class="dashboard-filters__filter issue-text">
                Emissão da nota
            </div>
            <div class="dashboard-filters__filter issue-filter">
                <input type="month" id="daterange-issue" class="daterange-issue daterange" name="daterange-issue" />
            </div>
        </div>

        <div class="dashboard-filters__filter charge">
            <div class="dashboard-filters__filter charge-text">
                Cobrança
            </div>
            <div class="dashboard-filters__filter charge-filter">
                <input type="month" id="daterange-charge" class="daterange-charge daterange" name="daterange-charge" />
            </div>
        </div>

        <div class="dashboard-filters__filter payment">
            <div class="dashboard-filters__filter payment-text">
                Pagamento realizado
            </div>
            <div class="dashboard-filters__filter payment-filter">
                <input type="month" id="daterange-payment" class="daterange-payment daterange" name="daterange-payment" />
            </div>
        </div>

        <div class="dashboard-filters__filter status">
            <div class="dashboard-filters__filter status-text">
                Status da nota
            </div>
            <div class="dashboard-filters__filter status-filter">
                <select name="select" type="select" class="status-filter__select invoice-status">
                    <option value="">Todos os status</option>
                    <option value="Emitida">Emitida</option>
                    <option value="Cobrança realizada">Cobrança realizada</option>
                    <option value="Pagamento em atraso">Pagamento em atraso</option>
                    <option value="Pagamento realizado">Pagamento realizado</option>
                </select>
            </div>
        </div>

    </div>

    <div class="filters-button-content">
        <span class="filter-button">
            Aplicar filtros
        </span>
    </div>

    <script type="module" src="/components/dashboard/resources/scripts/filters.js"></script>
      

</body>