.grouping-options__options {
    display: flex;
    gap: 24px;
}

.grouping-options__options__button {
    border: 1px solid var(--color-secondary);
    border-radius: 8px;
    background-color: transparent;
    padding: 8px 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.grouping-options__options__button.active {
    background-color: var(--color-surface-2);
    color: var(--color-surface-3);
    transition: background-color 0.9s ease;
    transition: color 0.9s ease;
}

.grouping-options__options__button:hover {
    background-color: var(--color-secondary);
}