.dashboard-table {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.table-striped>thead>tr>th {
    color: var(--color-primary);
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: var(--color-surface-2);
    color: var(--color-surface-3);
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
    background-color: var(--color-surface-3);
    color: var(--color-surface-2);
}



.dashboard-filters {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.dashboard-filters__filter .issue-filter {
    display: flex;
}

.filters-button-content {
    margin: 24px 0;
    display: flex;
    width: 100%;
    justify-content: end;
}

.filter-button {
    border: 1px solid var(--color-secondary);
    border-radius: 8px;
    background-color: transparent;
    padding: 4px 24px;
    cursor: pointer;
}

.filter-button:hover {
    background-color: var(--color-secondary);
}

.status-filter__select {
    outline: none;
}

.daterange,
.invoice-status {
    outline: none;
    border: none;
    border-radius: 6px;
    margin-top: 9px;
    padding: 6px;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
}