<body>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Pagador</th>
                <th scope="col">Nº</th>
                <th scope="col">Emissão da nota</th>
                <th scope="col">Cobrança</th>
                <th scope="col">Pagamento</th>
                <th scope="col">Valor</th>
                <th scope="col">Doc. da NF</th>
                <th scope="col">Doc. Boleto</th>
                <th scope="col">Status da nota</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <!-- ID -->
                <th scope="row">1</th>
                <!-- Nome do pagador -->
                <td>Rafael</td>
                <!-- Número da nota fiscal -->
                <td>1556687899</td>
                <!-- Data da Emissão da Nota -->
                <td>12/02/2024</td>
                <!-- Data da Cobrança -->
                <td>05/02/2024</td>
                <!-- Data do Pagamento -->
                <td>11/02/2024</td>
                <!-- Valor da Nota -->
                <td>R$ 4562,00</td>
                <!-- Documento da Nota Fiscal -->
                <td>????</td>
                <!-- Documento do Boleto Bancário -->
                <td>????</td>
                <!-- Status da Nota -->
                <td>Emitido</td>
            </tr>
        </tbody>
    </table>
</body>