<body>
    <table class="table table-striped dashboard-table">
        
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Pagador</th>
                <th scope="col">Nº da nota</th>
                <th scope="col">Emissão da nota</th>
                <th scope="col">Cobrança</th>
                <th scope="col">Pagamento</th>
                <th scope="col">Valor</th>
                <th scope="col">Doc. da NF</th>
                <th scope="col">Doc. Boleto</th>
                <th scope="col">Status da nota</th>
            </tr>
        </thead>

        <tbody class="dashboard-table__lines"></tbody>

    </table>

    <script type="module">
        import {invoicesData} from "/components/dashboard/table/data.js";

        $(() => {
            for (const [key, invoiceData] of Object.entries(invoicesData)) {
                newLine(invoiceData)
            }
        }
        );

        function newLine(
            invoiceData
        ) {
            $(".dashboard-table__lines").append(`
                <tr>
                    <!-- ID -->
                    <th scope="row">${invoiceData.id}</th>
                    <!-- Nome do pagador -->
                    <td>${invoiceData.userName}</td>
                    <!-- Número da nota fiscal -->
                    <td>${invoiceData.invoiceNumber}</td>
                    <!-- Data da Emissão da Nota -->
                    <td>${invoiceData.invoiceIssueDate}</td>
                    <!-- Data da Cobrança -->
                    <td>${invoiceData.chargeDate}</td>
                    <!-- Data do Pagamento -->
                    <td>${invoiceData.paymentDate}</td>
                    <!-- Valor da Nota -->
                    <td>R$ ${invoiceData.invoiceValue}</td>
                    <!-- Documento da Nota Fiscal -->
                    <td>${invoiceData.invoiceDocument}</td>
                    <!-- Documento do Boleto Bancário -->
                    <td>${invoiceData.ticketDocument}</td>
                    <!-- Status da Nota -->
                    <td>${invoiceData.invoiceStatus}</td>
                </tr>
            `);
        }
    </script>
</body>