<body>

    <div class="dashboard-title">
        <h4>Indicadores</h4>
    </div>

    <div class="dashboard-cards">

        <div id="dashboard-card-1" class="dashboard-cards__card">

            <div class="dashboard-cards__card__title">
                Valor total das notas emitidas
            </div>
            <div class="dashboard-cards__card__value">
                R$ 213,00
            </div>

        </div>

        <div id="dashboard-card-2" class="dashboard-cards__card">

            <div class="dashboard-cards__card__title">
                Valor total das notas emitidas (sem cobranças)
            </div>
            <div class="dashboard-cards__card__value">
                R$ 213,00
            </div>

        </div>

        <div id="dashboard-card-3" class="dashboard-cards__card">

            <div class="dashboard-cards__card__title">
                Valor total das notas vencidas - Inadimplência
            </div>
            <div class="dashboard-cards__card__value">
                R$ 213,00
            </div>

        </div>

        <div id="dashboard-card-4" class="dashboard-cards__card">

            <div class="dashboard-cards__card__title">
                Valor total das notas a vencer
            </div>
            <div class="dashboard-cards__card__value">
                R$ 213,00
            </div>

        </div>

        <div id="dashboard-card-5" class="dashboard-cards__card">

            <div class="dashboard-cards__card__title">
                Valor total das notas pagas
            </div>
            <div class="dashboard-cards__card__value">
                R$ 213,00
            </div>

        </div>

    </div>
</body>