<body>
    <div class="side-nav__content">
        <div class="side-nav__brand">
            <a href="#/">
                <i class="bi bi-receipt fs-4"></i>
                <span class="side-nav__brand__title">
                    NotaSoft
                </span>
            </a>
        </div>
        <ul class="nav flex-column side-nav__buttons">
            <li class="side-nav__buttons__button active">
                <a href="#/">
                    <i class="bi bi-graph-up"></i>
                    Dashboard
                </a>
            </li>
            <li class="side-nav__buttons__button">
                <a href="#/invoices-table">
                    <i class="bi bi-table"></i>
                    Tabela de notas fiscais
                </a>
            </li>
            <li class="side-nav__buttons__button">
                <a href="#/clients">
                    <i class="bi bi-person-lines-fill"></i>
                    Clientes
                </a>
            </li>
            <li class="side-nav__buttons__button">
                <a href="#/projects">
                    <i class="bi bi-gear"></i>
                    Projetos
                </a>
            </li>
            <li class="side-nav__buttons__button">
                <a href="#/orders">
                    <i class="bi bi-card-list"></i>
                    Pedidos
                </a>
            </li>
            <li class="side-nav__buttons__button">
                <a href="#/records">
                    <i class="bi bi-file-earmark-spreadsheet"></i>
                    Registros
                </a>
            </li>
            <li class="side-nav__buttons__button">
                <a href="#/accounts">
                    <i class="bi bi-person-vcard"></i>
                    Contas
                </a>
            </li>
            <li class="side-nav__buttons__button">
                <a href="#/tasks">
                    <i class="bi bi-list-task"></i>
                    Tarefas
                </a>
            </li>
        </ul>
    </div>

</body>