<body>
    <nav class="navbar">
        <div class="container-fluid">

            <div class="navbar-brand d-flex align-items-center gap-2">
                <input id="menu-checkbox" type="checkbox" class="header__menu-checkbox">
                <label for="menu-checkbox" class="d-flex align-items-center">
                    <span class="header__menu-icon"></span>
                </label>
                Dashboard
            </div>

            <form class="d-flex" role="search">
                <input class="my-form-search me-2" type="search" placeholder="O que você deseja?" aria-label="Search">
                <button class="my-btn-search" type="submit">Pesquisar</button>
            </form>

            <div class="d-flex flex-row align-items-center gap-2 text-black">
                <div class="avatar-texts">
                    <span class="avatar-texts__name">Rafael Moraes</span>
                    <span class="avatar-texts__function">Superadmin</span>
                </div>
                <div class="avatar-icon rounded-circle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img class="avatar-icon__image" src="static/images/avatar.png" alt="Avatar">
                </div>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item">Meu perfil</a></li>
                    <li><a class="dropdown-item">Configurações</a></li>
                    <li><a class="dropdown-item">Notificações</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item">Sair</a></li>
                </ul>
            </div>

        </div>
    </nav>

    <script>
        $(document).ready(function () {
            $("#menu-checkbox").click(function () {
                $(".side-nav").toggleClass("side-nav__active");
                $(".content").toggleClass("content__active");
            });
        });
    </script>

</body>