.dashboard-cards {
    display: flex;
    justify-content: space-between;
    gap: 6px;
}

.dashboard-cards__card {
    padding: 16px;
    flex-grow: 1;
    background-color: var(--color-surface-2);
    border-radius: 12px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.3);
    color: var(--color-surface-3);
}

.dashboard-cards__card__title {
    font-size: 12px;
    padding-bottom: 6px;
    border-bottom: 1px solid rgba(254, 253, 249, 0.4);
}

.dashboard-cards__card__value {
    font-size: 18px;
}